.p-selectbutton {

    .p-button {

        padding: 8px !important;
        padding-top: 3px !important;
        padding-bottom: 3px !important;
    }

    .p-highlight {

        background: #000 !important;

    }
}