.dashboard {

    .dashboard-card {

        box-shadow: 0px 0px 4px 1px #f3ecec;
    }

    .card-light-gray {

        background: #E4E4E4;
    }

    .card-light-green {

        background: #b0e8b2;
    }

    .card-light-sky {

        background: #d3e4ff;
    }

}