.custom-editor {

    height: 150px;
    margin-bottom: 35px;
}

div#blog_description_help {
    margin-top: 40px;
}

.ant-form-item {
    margin-bottom: 0px;
}

.ant-form-item-has-error {

    .custom-editor {

        margin-bottom: 10px;
    }
}