body {
    overflow-x: hidden !important;
}

.ant-layout-sider {

    max-width: 250px !important;
    min-width: 250px !important;
    width: 250px !important;
}

.ant-layout-sider-collapsed {

    flex: 0 0 80px !important;
    max-width: 80px !important;
    min-width: 80px !important;
    width: 80px !important;

    .logo {

        height: 60px !important;
        width: 60px;
        object-fit: contain;
    }
}

.custom-sidebar {

    background: #0D0E12;

    .logo {

        height: 90px;
        margin: 0 auto;
        display: table;
        transition: all 0.3s;
    }

    .sidebar-icon {
        font-size: 20px !important;
    }

    .ant-menu-dark {
        background: #0D0E12;
    }

    :where(.css-dev-only-do-not-override-1kf000u).ant-menu-dark .ant-menu-item-selected,
    :where(.css-dev-only-do-not-override-1kf000u).ant-menu-dark>.ant-menu {

        background: #2C2C41;
    }
}

.header-right-area {

    .ant-list-item-meta-title {

        line-height: 1 !important;
    }

    .ant-list-item-meta {

        align-items: center;
    }
}

.notifications {

    .notify-icon {

        font-size: 35px;
    }

    .notify-badge {

        width: 20px;
        height: 20px;
        right: 0px;
        top: 10px;
    }
}