.custom-editor {

    height: 150px;
    margin-bottom: 35px;
}

div#blog_description_help {
    margin-top: 40px;
}

.ant-form-item {
    margin-bottom: 0px;
}

.ant-form-item-has-error {

    .custom-editor {

        margin-bottom: 10px;
    }
}


.custom-dropdown {
    width: 100%;

    .p-inputtext {

        padding: 6px;
        padding-left: 12px !important;
    }

    .p-dropdown-items {

        padding-left: 0px !important;
        margin-bottom: 0px !important;
    }
}

.p-dropdown-panel {

    .p-dropdown-items {

        padding-left: 0px !important;
        margin-bottom: 0px !important;

        .p-dropdown-item {

            padding-top: 8px;
            padding-bottom: 8px;
        }
    }

    .p-dropdown-filter {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }
}